# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv*/
ENV/
env.bak/
venv.bak/

# Misc
.idea
.ipynb_checkpoints
.vscode
.DS_Store
.png

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Audio Files
*.mid
*.wav
*.mp3

# Soundfonts
*.sf2

# Metadata
datagen/fx_out/*/*.txt

# Models
*.pth

# Optuna Studies
*.db

# Don't upload massive data files to git
data/raw/
data/processed/
data/generation
datagen/chords/
datagen/sf2/
texturebias_experiment/timbral_bias_datasets/*

# Secrets
secrets/
